.header-container {
  height: 31vw;
  margin: 30px auto;
  background: url('header_img.png') no-repeat center center;
  background-size: cover; /* Corrected property name and value */
  position: relative;
}

.header-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;
  max-width: 60%;
  bottom: 10%;
  left: 6vw;
  animation: fadeIn 4s;
}

.header-content h2 {
  font-weight: 500;
  color: white;
  font-size: max(4.5vw, 24px);
  text-shadow: 1px 1px 2px black;
}

.header-content p {
  color: white; /* Removed redundant color property */
  font-size: 1.3vw;
  text-shadow: 1px 1px 2px black;
  text-align: justify;
}

button {
  margin: 15px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    height: 50vw; /* Adjusted for better aspect ratio on smaller screens */
  }

  .header-content {
    align-items: center; /* Center content for smaller screens */
    left: 50%;
    transform: translateX(-50%); /* Center align the content horizontally */
    text-align: center; /* Center align text for readability */
  }

  .header-content h2 {
    font-size: max(2vw, 20px); /* Increased size for visibility on small screens */
  }

  .header-content p {
    font-size: max(0.8vw, 10px); /* Adjusted text size for readability */
  }
  
button {
font-sixe: 12px;
}
}
