.not-found{
    text-align:center;
}

.title-not-found{
    color: coral;
    font-weight:bold;
    margin:60px;
}

.not-found-paragraph{
    color:teal;
    font-weight:bold;
    bottom
}
style={{ color:"teal", fontWeight:"bold", bottom:"30px"  }}