.not-found {
    text-align: top;
    font-size: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center; 
    border:none;
  }
  
  .not-found-paragraph {
    color: #9570eb;
    font-weight: bold;
    position: relative;

  }
  
