/* Login.css */

/* Base styles for the login popup */
.login-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Styles for the login popup container */
.login-popup-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styles for the login popup title */
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-popup-title imp{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Styles for the login popup inputs */
.login-popup-inputs input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Styles for the login button */
.btn {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styles for the login popup condition */
.login-popup-condition {
  display: flex;
  gap: 5px;
  align-items: center;
}

.login-popup-condition p {
  margin: 0;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 600px) {
  .login-popup {
    width: 100%;
    max-width: none;
    height: 100%;
    overflow-y: auto;
  }

  .login-popup-container {
    gap: 5px;
  }

  .login-popup-inputs input,
  .btn {
    padding: 15px;
  }
}
